[submodule "KipuBankV3/lib/forge-std"]
	path = KipuBankV3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "KipuBankV3/lib/permit2"]
	path = KipuBankV3/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "KipuBankV3/lib/openzeppelin-contracts"]
	path = KipuBankV3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "KipuBankV3/lib/chainlink-brownie-contracts"]
	path = KipuBankV3/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "KipuBankV3/lib/v4-core"]
	path = KipuBankV3/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "KipuBankV3/lib/v4-periphery"]
	path = KipuBankV3/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "KipuBankV3/lib/universal-router"]
	path = KipuBankV3/lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "lib/v4-periphery"]
	path = lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "lib/universal-router"]
	path = lib/universal-router
	url = https://github.com/uniswap/universal-router
	branch = main
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "lib/v2-core"]
	path = lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "test/test/lib/forge-std"]
	path = test/test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/test/lib/v4-core"]
	path = test/test/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "test/test/lib/v4-periphery"]
	path = test/test/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "test/test/lib/universal-router"]
	path = test/test/lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "KipuBankV3/lib/v3-core"]
	path = KipuBankV3/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "KipuBankV3/lib/v2-core"]
	path = KipuBankV3/lib/v2-core
	url = https://github.com/uniswap/v2-core
